.home {
  margin-right: auto;
  margin-left: auto;

  padding: 0;

  width: 800px;
  background-color: white;
  border: 2px border brown;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
